* {
    margin:0;
    padding: 0;
    
}
/*parte iniziale*/
.logo {
    width: 12%;
    margin-left: 10%;
    padding-top: 3%;
    
}
header {
    background-color: rgb(72, 196, 196);
    background-size: 30%;
    height: 130px;;
    background-image:url(../img/pattern.png)
    }
 h1 {
    width: 80%%;
    margin-left: 25%;
    margin-top: 2%;
 }   

 .fonti {
    margin-left: 25%;
 }
 .colorato{
    color: rgb(26, 187, 187);
 }
 .commento{
    color: rgb(128, 128, 128,0.6);
 }
 .fototim{
    margin-left: 25%;
    margin-top: 8%;
 }
 .commenti2{
    margin-left: 25%;
    font-size: small;
 }
 p{
    margin-left: 25%;
    margin-top: 2%;
    font-size: 100%;
    width: 60%;
    
 }
 .evidenziato{
    background-color: yellow;
 }
 .lista{
    margin-left: 25%;
    margin-top: 2%;

    /*css tabella*/
 }
 .tabella{
    
    width: 70%;
    margin-left: 24%;
    margin-top: 2%;
    border-collapse: collapse;
    margin-right: 10%;
    
    
 }
 .rigatabella1{
    background-color:rgb(65, 147, 194);
    height:20px;
    color: white;
    font-size:medium;
    padding-left: 20%;
    
}

.rigatabella2{
    background-color:rgb(125, 192, 231);
    height: 25px;
    padding-left: 20%;
   
}
td{
    width: 20%;
}

.rigatabella3{
    background-color: white;
    height: 25px;
    padding-left: 20%;
}


 